<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kesari from vijay</title>
    <style>
        .vijay{
            height: 200px;
            width: 200px;
                    }
    </style>
</head>
<body>
    <h1 style="font-size: 200px;"><b style="color:orange">KESARI !! <img src="static/images/kesari.png" alt="" class="vijay"></b></h1>
</body>
</html> -->

{% extends 'base/base.html' %}


{% block title %}
Home
{% endblock %}

{% block content %}

{% endblock %}