{% extends 'base/base.html' %}

{% block title %}
Product Details
{% endblock %}

{% block content %}

<section class="product-details-section py-5">
    <div class="container">
        <div class="row g-5">

            <!-- IMAGE CAROUSEL -->
            <div class="col-md-7">
                <div id="carouselExample" class="carousel slide product-carousel">
                    <div class="carousel-inner">
                        {% if product.images.all %}
                        {% for media in product.images.all %}
                        {% if media.img %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">

                            <img src="{{ media.img.url }}" class="d-block w-100" alt="{{ media.caption }}">

                            <div class="carousel-actions">
                                <button class="btn btn-light edit">
                                    <i class="bi bi-pen"></i>
                                </button>
                                <button class="btn btn-light delete text-danger">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="carousel-item active">
                            <img src="/media/defaults/no-image.png" class="d-block w-100" alt="No image available">
                        </div>
                        {% endif %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
                <div class="product-info-details">
                    <h2 class="product-title">{{ product.title }}</h2>

                    <p class="product-desc">
                        {{ product.desc }}
                    </p>

                    <div class="price-box">
                        <span class="old-price">&#8377; {{ product.price }}</span>
                        <span class="new-price">&#8377; {{ product.offer_price|floatformat:2 }}</span>
                        <span class="discount text-success">
                            ({{ product.discount }}% OFF)
                        </span>
                    </div>
                </div>

            </div>

            <!-- PRODUCT INFO -->
            <div class="col-md-5">
                <div class="product-info">

                    <div class="thumbnail-wrapper text-center mb-4">
                        <img src="{{ product.thumbnail.url }}" alt="{{ product.title }} " class="thumbnail-img">
                    </div>
                    <!-- video section -->
                    {% for media in product.images.all %}
                    {% if media.video %}
                    <video class="product-video mb-4" controls
                        poster="{% if media.img %}{{ media.img.url }}{% endif %}">
                        <source src="{{ media.video.url }}" type="video/mp4">
                    </video>
                    {% endif %}
                    {% endfor %}

                    <div class="action-buttons mt-4">
                        <a href="#" class="btn btn-outline-primary"><i class="bi bi-cart"></i></a>
                        <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning"><i
                                class="bi bi-pencil-fill"></i></a>
                        <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger"><i
                                class="bi bi-trash3-fill"></i></a>
                        <a href="{% url 'add_images' product.id %}" class="btn btn-outline-secondary">
                            <i class="bi bi-cloud-plus-fill"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}