<div>
    <div class="card product-card">
        <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.title }}">

        <div class="card-body text-center">

            <a href="{% url 'product_details' product.pk %}" class="product_details-link">
                <h5 class="card-title">
                    {{ product.title }}
                </h5>

                <p class="card-text product-desc">{{ product.desc }}</p>
                <p class="card-text product-price text-secondary">&#8377;
                    {{ product.price }}
                    <span class="card-text product- discount text-success ">
                        off %{{ product.discount}}
                    </span>
                </p>
            </a>
            <a href="#" class="btn btn-secondary w-100">Add to Cart</a>
        </div>
    </div>
</div>