<div>
    <div class="card product-card">
        <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.title }}">

        <div class="card-body text-center">

            <a href="{% url 'product_details' product.pk %}" class="product_details-link">
                <h5 class="card-title">
                    {{ product.title }}
                </h5>

                <p class="card-text product-desc">{{ product.desc }}</p>
                <div>
                    <span class="card-text product-price text-secondary" style="text-decoration: line-through;">&#8377;
                        {{ product.price }}
                    </span>

                    <span class="text-primary fw-bold" style="margin:auto 10px">
                        &#8377; {{ product.offer_price|floatformat:2 }}
                    </span>

                    <span class="card-text  text-success ">
                        off %{{ product.discount}}
                    </span>
                </div>

            </a>
            <a href="#" class="btn btn-secondary w-100 mt-4">Add to Cart</a>
        </div>
    </div>
</div>